@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Open Sans', sans-serif;
    /* font-family: 'Roboto Condensed', sans-serif; */
}

:root {
    --primary-color: #E7717D;
    --secondary-color: #AFD275;
}
.primary-color{
    background-color: #E7717D;
}
.secondary-color{
    background-color: #AFD275;
}